@import "../../../styles.scss";

.time-from-event {
    @include dFlex($jc: none, $ai: none, $g: 12px);
}

.type-of-event {
    @include dFlex($ai: none, $g: 12px);
    >div {
        width: 32px;
        height: 24px;
        border-radius: 24px;
        &:first-child {
            background-color: green;
        }

        &:nth-child(2) {
            background-color: orange;
        }

        &:last-child {
            background-color: red;
        }
    }
}

.active {
    border: 2px black solid;
}