@import "../../styles.scss";

.profile-detail-header {
    @include dFlex($jc: none, $ai: flex-end , $fd: row, $g: 18px);
    min-height: 140px;
    background-color: rgb(0, 0, 255);
    >img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        margin-left: 18px;
        margin-bottom: 18px;
    }
    >div {
        @include dFlex($jc: none, $ai: none , $fd: column, $g: 2px);
        height: 100px;
        color: white;
        >h2 {
            margin: 0;
        }
    }
}

.mt-32 {
    margin-top: 32px;
}

.mat-icon-button {
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.address-detail, .job-info {
    color: var(--text-color-table);
    height: 100px;
}