.profile-detail-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 18px;
    min-height: 140px;
    background-color: rgba(63, 81, 181, 1);
    >img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        margin-left: 18px;
        margin-bottom: 18px;
    }
    >div {
        display: flex;
        flex-direction: column;
        gap: 2px;
        height: 100px;
        color: white;
        >h2 {
            margin: 0;
        }
    }
}

.mt-32 {
    margin-top: 32px;
}

.mat-icon-button {
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.address-detail, .job-info {
    background-color: rgba(63, 81, 181, 1);
    color: white;
    height: 100px;
}