<mat-card class="search-container">
    <input matInput placeholder="Search" (input)="searchUser($event)">

  <mat-checkbox (change)="sortUser($event.checked, 'city');">Sort by name (A–Z)</mat-checkbox>
  <mat-checkbox (change)="sortUser($event.checked, 'email');">Sort by email (A-Z)</mat-checkbox>
  <mat-checkbox (change)="sortUser($event.checked, 'lastName');">Sort by city (A–Z)</mat-checkbox>
</mat-card>
<mat-card>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let user of users" [routerLink]="'/user/' + user.id">
            <td>{{user.lastName}}, {{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.city}}</td>
        </tr>
    </table>
</mat-card>
  
<button (click)="addUser();" class="add-user-btn" matTooltip="Add user" matTooltipPosition="above" mat-fab>
    <mat-icon>add</mat-icon>
</button>