/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #ffffff;
  --bg-color-light: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --bg-color: rgba(0, 0, 0, 0.8);
  --bg-color-light: rgba(0, 0, 0, 0.01);
  --text-color: #e0e0e0;
  --text-color-table: rgba(0, 0, 0, 0.8);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
    width: 100%;
}

.mr-16 {
    margin-right: 16px;
}

.dialog-actions {
    justify-content: space-evenly;   
}

